@{
    ViewBag.Title = "AddRoleToUser";
}

<h2>Tilldela roll</h2>

<p><strong>Att göra: </strong> Båda de här textboxarna ska vara DROPLISTOR!</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        <div class="form-group">
            @Html.Label("Användare", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("User", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
       
        <div class="form-group">
        @Html.Label("Roll", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Role", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tilldela roll" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
