@model StudiekollenNew.ViewModels.FindTestViewModel
@{
    ViewBag.Title = "Details";
}

    <h3>Prov tillhörande @Model.Username:</h3><br/>
       
    <table id="customers" class="table table-bordered table-hover">

        <tr>
            <th>Provnamn</th>
            <th>Skapades</th>
            <th>Ändrades senast</th>
            <th></th>
        </tr>
       
            @foreach (var test in Model.AllTests)
            {
                <tr>                 
                    <td>@Html.ActionLink(test.Name, "EditTest", "Test", new {id = test.Id}, null)</td>

                    <td>@test.CreateDate</td>

                    @if (test.ChangeDate is null)
                    {
                        <td>Har aldrig ändrats</td>
                    }
                    else
                    {
                        <td>@test.ChangeDate</td>
                    }
                    <td>@Html.ActionLink("Radera prov", "DeleteTest", "Test", new {id = test.Id}, null)</td>


                </tr>
        }

    </table>







    
