@model StudiekollenNew.ViewModels.TestViewModels.EditTestViewModel


@if (!Model.QuestionsModels.Any())
{
    <h2>@Model.TestName</h2><br />

    <h4>Provet har inga frågor.</h4><br />

    @Html.ActionLink("Lägg till ny fråga", "AddQuestionToTest", "Question", new { testName = Model.TestName, testId = Model.TestId }, new { @class = "btn btn-default" })<br />

 }

 else
 {
    <h2>@Model.TestName</h2><br />

    @Html.ActionLink("Lägg till ny fråga", "AddQuestionToTest", "Question", new { testName = Model.TestName, testId = Model.TestId }, new { @class = "btn btn-default" })<br />

    <table id="customers" class="table table-bordered table-hover">

        <tr>
            <th>Fråga</th>
            <th>Svar</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.QuestionsModels)
        {
            <tr>
                <td>@item.Query</td>

                @if (item.Answer is null)
                {
                    <td><em>Frågan har ännu inget svar.</em></td>
                }
                else
                {
                    <td>@item.Answer</td>
                }

                <td>@Html.ActionLink("Redigera fråga", "EditQuestion", "Question", new { questionId = item.Id, testName = item.Test.Name, testId = item.TestId }, null)
                <td>@Html.ActionLink("Radera fråga", "DeleteQuestion", "Question", new { questionId = item.Id, testId = item.TestId }, null)</td>

            </tr>
        }

    </table>
 }

@*Klientvalidering*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

