@model StudiekollenNew.ViewModels.TestViewModels.EditTestViewModel
@{
    ViewBag.Title = "EditTest";
}

@*<h2>Redigera test</h2>*@

<h2>@Model.TestName</h2><br />


   @* TODO: Implementera raden nedan *@
@Html.ActionLink("Lägg till ny fråga", "", "", new { }, new { @class = "btn btn-default" })<br />

<table id="customers" class="table table-bordered table-hover">

    <tr>
        <th>Fråga</th>
        <th>Svar</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.QuestionsModels)
    {
        <tr>
            <td>@item.Query</td>
            <td>@item.Answer</td>
            <td>@Html.ActionLink("Redigera fråga", "EditQuestion", "Question", new { questionId = item.Id, testName = item.Test.Name, testId = item.TestId }, null)
            <td>@Html.ActionLink("Radera fråga", "DeleteQuestion", "Question", new { questionId = item.Id, testId = item.TestId }, null)</td>

        </tr>
    }

</table>
