@model StudiekollenNew.ViewModels.ExamViewModels.CreateExamViewModel

<script>

    $(document).ready(function () {
        chBxTime();
        chBxDate();
        
        $('input[name=ExamTimeBool]').change(function () {
            chBxTime();
        });

        $('input[name=ReminderDateBool]').change(function () {
            chBxDate();
        });

    });


    function chBxTime() {
        if ($('input[name=ExamTimeBool]').is(':checked')) {
            $("#ExamTime").show();
        } else {
            $("#ExamTime").hide();
        }
    }

    function chBxDate() {
        if ($('input[name=ReminderDateBool]').is(':checked')) {
            $("#SendReminderDate").show();
        } else {
            $("#SendReminderDate").hide();
        }
    }

</script>

<h2>Skapa prov</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal createExam">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ExamName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control testclas" } })
            @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExamTimeBool, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.ExamTimeBool)
                @Html.ValidationMessageFor(model => model.ExamTimeBool, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <div id="ExamTime">
            @Html.Partial("_TimeInput")
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReminderDateBool, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.ReminderDateBool)
                @Html.ValidationMessageFor(model => model.ReminderDateBool, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
    <div id="SendReminderDate">
        @Html.Partial("_ReminderDateInput")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RandomOrder, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.RandomOrder)
                @Html.ValidationMessageFor(model => model.RandomOrder, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Skapa prov" class="btn btn-default btn-block" />
        </div>
    </div>
</div>
}


