@model StudiekollenNew.ViewModels.SearchExamViewModel

@*<h3>Prov tillhörande @Model.Username:</h3><br/>*@
       
  @if (!Model.AllExams.Any())
  {
      @Html.Partial("_partialDetails")

  }
  else
  {
      <table id="customers" class="table table-bordered table-hover">

          <tr>
              <th>Provnamn</th>
              <th>Antal frågor</th>
              <th>Skapades</th>
              <th>Ändrades senast</th>
              <th></th>
          </tr>
               
          @foreach (var exam in Model.AllExams)
          {
              <tr>

                  <td>@Html.ActionLink(exam.ExamName, "HandleExam", "Exam", new {examId = exam.ExamId}, null)</td>
                    
                  @if (!exam.Questions.Any())
                  {
                      <td>0</td>
                  }
                  else
                  {
                      <td>@exam.Questions.Count()</td>
                  }
                    
                  <td>@exam.CreateDate</td>

                  @if (exam.ChangeDate is null)
                  {
                      <td>Har aldrig ändrats</td>
                  }
                  else
                  {
                      <td>@exam.ChangeDate</td>
                  }
                  <td>@Html.ActionLink("Radera prov", "DeleteExam", "Exam", new {examId = exam.ExamId}, null)</td>
              </tr>
          }

      </table>

      <h4>@Html.ActionLink("Tillbaka", "SearchForExam", "Test", null) </h4>
  }









    
