@model StudiekollenNew.ViewModels.TestViewModels.HandleExamViewModel

@if (!Model.QuestionsModels.Any())
{
    @Html.Partial("_partialHandleTest")
}

else
{
    <h2>@Model.ExamName</h2><br />

    @Html.ActionLink("Lägg till ny fråga", "AddQuestionToExam", "Question", new { examName = Model.ExamName, examId = Model.ExamId }, new { @class = "btn btn-default" })
    <text>&nbsp;&nbsp;&nbsp;</text>
    @Html.ActionLink("Ändra provnamn", "UpdateExam", "Exam", new { examId = Model.ExamId }, new { @class = "btn btn-default" })<br />


    <table id="customers" class="table table-bordered table-hover">

        <tr>
            <th>Fråga</th>
            <th>Svar</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.QuestionsModels)
        {
            <tr>
                <td>@item.Query</td>

                @if (item.Answer == null)
                {
                    <td><em>Frågan har ännu inget svar.</em></td>
                }
                else
                {
                    <td>@item.Answer</td>
                }

                <td>@Html.ActionLink("Redigera fråga", "UpdateQuestion", "Question", new { questionId = item.QuestionId, examName = item.Exam.ExamName,examId = item.ExamId }, null)
                <td>@Html.ActionLink("Radera fråga", "DeleteQuestion", "Question", new { questionId = item.QuestionId, examId = item.ExamId }, null)</td>

            </tr>
        }

    </table>
}

    <h4>@Html.ActionLink("Tillbaka", "DisplayExams", "Test", null)</h4>


@*Klientvalidering*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


