@model StudiekollenNew.ViewModels.EditQuestionViewModel

@{
    ViewBag.Title = "EditQuestion";
}

<h2>@Model.Name</h2>

@using (Html.BeginForm("EditQuestion", "Question"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Query, htmlAttributes: new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Answer, 7, 100, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uppdatera fråga" class="btn btn-default btn-block" /><br/>
                @Html.ValidationMessageFor(model=>model.Query)

            </div>
        </div>
    </div>
}